@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>ContactSoft</h3>

<p>Con ContactSoft puedes crear listas, llenarlas con tus contactos y programar la semana para asi llevar registro de las llamadas que pudiste finalizar cada semana programada.</p>
