@{
    ViewBag.Title = "Contact";
}
<h2>Consultas y Soporte tecnico.</h2>

<address>
    <strong>José Fernando Herrera</strong>   <a href="mailto:zureajh@hotmail.com">zureajh@hotmail.com</a><br />
    </address>